<h2 class="card-title text-center"><%= news.title %></h2>
<p class="card-text"><%= news.description %></p>
<footer class="blockquote-footer">Autor: <cite title="Source Title"><%= news.user.email %></cite></footer>