<div class="row py-5">
  <div class="col-12">
   <h1 class="text-center">Nueva noticia</h1> 
  </div>
</div>

<div class="row py-5">
  <div class="col-12">
    <%= render "form", news: @news %>
  </div>
</div>

<div class="row py-5">
  <div class="col-12">
    <%= link_to "Back to news", root_path %>
  </div>
</div>
